.fab {
    margin: 0px !important;
    top: auto !important;
    right: 40px !important;
    bottom: 40px !important;
    left: auto !important;
    position: fixed !important;
    background-color: #00bb2d !important;
}

.card{
    padding:20px 20px 0px 20px;
    margin:20px;
}
body{
    background-color: #FAFAFA;
    font-family: 'Roboto';
}
h2{
    color:#333;
    text-align: center;
    font-size: 2em;
}
.welcome{
    color:#555;
    text-align: center;
    font-size: 1.5em;
}